extends layout

block head
	- var active = 'index'

block content
	.container
		.starter-template
			h1 Bienvenidos a Pizzer&iacute;a C&oacute;ndor
			p.lead
				| Haga su pedido online
	// /.container
